
name: sprawozdanie
on: push
jobs: 
  pdf:
    runs-on: windows-latest
    steps:
      - run: winget source remove msstore
      - run: winget source update
      - run: |
          winget install --id=MiKTeX.MiKTeX --accept-source-agreements --accept-package-agreements
          winget install --id=Inkscape.Inkscape --accept-source-agreements --accept-package-agreements
          winget install --id JohnMacFarlane.Pandoc --accept-source-agreements --accept-package-agreements
      - run: |
            "C:\Program Files\MiKTeX\miktex\bin\x64\mpm.exe" --admin --verbose --install=xetex
      - uses: actions/checkout@v4
      - run: pip install pint open_atmos_jupyter_utils scipy numpy pandas nbconvert ipykernel
      - run: |
             $env:PATH += ";C:\Program Files\MiKTeX\miktex\bin\x64;C:\Program Files\Inkscape\bin"
             python -m nbconvert --to pdf --execute test.ipynb
      - uses: actions/upload-artifact@v4 
        with:
          path: test.pdf
          