
name: sprawozdanie
on: push
jobs: 
  pdf:
    runs-on: windows-latest
    steps:
      - run: winget source disable msstore
      - run: winget install -e --id TeXLive.TeXLive --accept-source-agreements --accept-package-agreements `
            && winget install -e --id Inkscape.Inkscape --accept-source-agreements --accept-package-agreements `
            && winget install -e --id JohnMacFarlane.Pandoc --accept-source-agreements --accept-package-agreements
      - uses: actions/checkout@v4
      - run: pip install pint open_atmos_jupyter_utils scipy numpy pandas nbconvert ipykernel
      - run: python -m nbconvert --to pdf --execute test.ipynb 
      - uses: actions/upload-artifact@v4 
        with:
          path: sprawozdanie.pdf
          