
name: sprawozdanie
on: push
jobs: 
  pdf:
    runs-on: ubuntu-latest
    steps:
      - run: |
              sudo apt-get update
              sudo apt-get install texlive-xetex inkscape pandoc 
      - uses: actions/checkout@v4
      - run: pip install pint open_atmos_jupyter_utils scipy numpy pandas nbconvert ipykernel pympdata
      - run: python -m nbconvert --to pdf --execute shallow_water.ipynb
      - uses: actions/upload-artifact@v4 
        with:
          path: shallow_water.pdf
          